div {
  border: 1px solid black;
  padding: 10px;
  background: white;
}

div.dark {
  background: rgb(56, 51, 51);
}
div.light {
  background: #ccc;
}

h3.dark {
  color: black;
}
h3.light {
  color: #ccc;
}
